*{
    box-sizing: border-box;
}
body{
   text-align: center;
 

   font-family: 'Public Sans', sans-serif;
    
}


.header-input button{
    width:20%;
    height: 40px;
    border-radius: 10px;
  
    border: none;
  
    border-radius: 10px;
  
  
   
    border-radius: 10px;
    color: white;
    background-color: black;
}
.header-input input{
    width:50%;
    height: 40px;
    border-radius: 6px;

}
#container, .header-input{
    width:70%;
    
    margin: auto;
    margin-top:30px;
    
}
ul li{
    
    height:150px;
   
   
    list-style: none;
    margin:auto;
    margin-bottom: 20px;
    border:0.5px solid black;
    border-radius: 10px;
    padding:20px;
   

}

#container input{
    width: 98%;
   height: 40px;
   border:none;

   margin-bottom: 8px;
   font-size: 24px;
   border-radius: 6px;
  
   background-color: transparent;
   font-family: 'Public Sans', sans-serif;
  
   border:1px solid black;
   

}

#container button{
    
    float: left;
    width: 120px;
    height:50px;
    margin :8px 3px;
    border: none;
    border:2px solid white;
  
    border-radius: 10px;
    color: white;
    background-color: black;

}



@media(max-width:786px){
    #container button{
        width: 110px;
        height: 40px;
       
        
       
    }

}

@media (max-width:650px) {
    ul li{
        height: 290px;
    }
    #container button{
        width: 70%;
        height: 50px;
        
        text-align: center;
        float: none;
       
    }
    input{
        font-size: 15px;
    }
    
}